@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 1400px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    background-color: #EFE6E4;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/** Заголовки h2+кнопки "Оставить заявку" **/

.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
    text-transform: uppercase;
    
  }

.button-gallery {
    font-weight: 500;
    font-size: 30px;
    line-height: 36,5px;
    color: #533738;
}


.page-body {

}

.container {
    width: 1400px;
    margin: 0 auto;
}
.page-footer {
    width: 1400px;
    margin: 0 auto;
}
/** header **/
.main-header {
        max-width: 1400px;
        margin: 0 auto;
}



  

/** Вверхний блок **/

.main-header {
    background-image: url(../img/header-bg.png);
    width: 1400px;
    height: 715px;
    background-repeat: no-repeat;
}

/** Навигация **/



.main-navigation {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-header-logo {
    flex-shrink: 0;
    width: 90.55px;
    margin-left: 98.32px;
    margin-top: 21px;
    padding-right: 89.13px;
    opacity: 0.8;
  }

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-top: 28px;
    padding: 0;
    list-style: none;
  }
  .site-navigation-item:nth-child(1) {
    margin-right: 31.5px;
  }
  .site-navigation-item:nth-child(2) {
    margin-right: 26.55px;
  }
  .site-navigation-item:nth-child(3) {
    margin-right: 28px;
  }
  .site-navigation-item:nth-child(4) {
    margin-right: 29px;
  }
  .site-navigation-item:nth-child(5) {
    margin-right: 28px;
  }
  .site-navigation-item:nth-child(6) {
    margin-right: 37px;
  }

  .site-navigation a:hover,
  .site-navigation a:focus,   
  .site-navigation-link {
      font-size: 16px;
      line-height: 20px;
      color: #533738;
     display: block;

}

/** Верхний блок **/
.headline {
    width: 534px;
    text-align: left;
    padding-left: 184.04px;
    padding-top: 65px;
}

.headline span {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
       
}

.headline p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    padding-top: 3px;
    padding-bottom: 32px;
}

.headline .button {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #533738;
    margin-left: -2px;
    padding: 25px 65.88px 24px 67.91px;
    background-color: #CC8B86;
  }

/** Блок О Нас **/

.about h2 {display: block;
    padding-top: 31px;
    text-align: center;
}
.about-us {
    display: flex;
    padding-left: 182px;
      padding-top: 8px; 
}

.about-us-text {
    display: flex;
    flex-direction: column;
    padding-left: 63px;
    margin-top: -18px;
}

.about-us-text span {
   padding-top: 12px;
}

.about-us-text_fix {
    padding-left: 5px;
}
/** Блок Преимущества **/

.advantage {
    background-color: #8D7370;
    color: #ffffff;
    height: 273px;
    text-align: center;
    margin-top: 21px;
    
}
.advantage-list {
    display: flex;
    flex-direction: row;
}
.advantage-list span {
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    }

.advantage-item {
  padding: 88px;
 font-size: 30px;
font-weight: 500;
line-height: 45px;
text-transform: uppercase;
}
.advantage-item:nth-child(1) {
    padding-left: 141px;
    padding-right: 182px;
  }
  .advantage-item:nth-child(2) {
    padding-right: 181px;
  }

/* 
.advantage-list p {
font-size: 30px;
font-weight: 500;
line-height: 37px;
text-transform: uppercase;
}
*/
/** Блок портфолио **/

.portfolio {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .portfolio-item__content
{
    background-image: url('../img/portfolio-1.jpg');
    width: 488px;
    height: 451px;   
}


.portfolio-item__content h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    transition: .5s ease;
    
}

.portfolio-item__content p {
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #ffffff;
transition: .5s ease;
}

.portfolio-list .portfolio-item__content:hover {
    
    opacity: 0.8;
    background: #645145;
    cursor: pointer;
    transition: .5s ease;
}


/** Блок Команда **/
.team {
    background-color: #E2C4BA;
}


/** Блок Как мы работаем **/
.work {
    background-color: #E2C4BA;
}

/** Блок отзывы **/

/** Блок Оставить заявку **/

.request {
    background-color: #8D7370;
    color: #ffffff;
}
.request-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
}

.request-text {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
opacity: 0.6;
}

/** Футер **/
    .page-footer-item,
    .page-footer-link {
   
        font-size: 18px;
        line-height: 30px;
        color: #533738;

}